{% load static %}
<!doctype html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Delivery Price comparison System || Home </title>
    <!-- google fonts -->

    <link href="../../../../../../../external.html?link=http://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;0,600;0,700;1,600&amp;display=swap"
          rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'cal/css/style-liberty.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
</head>

<body>
<script src="../../../../../../../m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
<script>
    (function () {
        if (typeof _bsa !== 'undefined' && _bsa) {
            // format, zoneKey, segment:value, options
            _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
        }
    })();
</script>
<script>
    (function () {
        if (typeof _bsa !== 'undefined' && _bsa) {
            // format, zoneKey, segment:value, options
            _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
        }
    })();
</script>
<script>
    (function () {
        if (typeof _bsa !== 'undefined' && _bsa) {
            // format, zoneKey, segment:value, options
            _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
        }
    })();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async
        src='../../../../../../../external.html?link=https://www.googletagmanager.com/gtag/js?id=G-98H8KRKT85'></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-98H8KRKT85');
</script>

<meta name="robots" content="noindex">
<body>
<!-- New toolbar-->
<style>
    * {
        box-sizing: border-box;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    }


    #w3lDemoBar.w3l-demo-bar {
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        padding: 40px 5px;
        padding-top: 70px;
        margin-bottom: 70px;
        background: #0D1326;
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
    }

    #w3lDemoBar.w3l-demo-bar a {
        display: block;
        color: #e6ebff;
        text-decoration: none;
        line-height: 24px;
        opacity: .6;
        margin-bottom: 20px;
        text-align: center;
    }

    #w3lDemoBar.w3l-demo-bar span.w3l-icon {
        display: block;
    }

    #w3lDemoBar.w3l-demo-bar a:hover {
        opacity: 1;
    }

    #w3lDemoBar.w3l-demo-bar .w3l-icon svg {
        color: #e6ebff;
    }

    #w3lDemoBar.w3l-demo-bar .responsive-icons {
        margin-top: 30px;
        border-top: 1px solid #41414d;
        padding-top: 40px;
    }

    #w3lDemoBar.w3l-demo-bar .demo-btns {
        border-top: 1px solid #41414d;
        padding-top: 30px;
    }

    #w3lDemoBar.w3l-demo-bar .responsive-icons a span.fa {
        font-size: 26px;
    }

    #w3lDemoBar.w3l-demo-bar .no-margin-bottom {
        margin-bottom: 0;
    }

    .toggle-right-sidebar span {
        background: #0D1326;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #e6ebff;
        border-radius: 50px;
        font-size: 26px;
        cursor: pointer;
        opacity: .5;
    }

    .pull-right {
        float: right;
        position: fixed;
        right: 0px;
        top: 70px;
        width: 90px;
        z-index: 99999;
        text-align: center;
    }

    /* ============================================================
    RIGHT SIDEBAR SECTION
    ============================================================ */

    #right-sidebar {
        width: 90px;
        position: fixed;
        height: 100%;
        z-index: 1000;
        right: 0px;
        top: 0;
        margin-top: 60px;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        overflow-y: auto;
    }


    /* ============================================================
    RIGHT SIDEBAR TOGGLE SECTION
    ============================================================ */

    .hide-right-bar-notifications {
        margin-right: -300px !important;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }


    @media (max-width: 992px) {
        #w3lDemoBar.w3l-demo-bar a.desktop-mode {
            display: none;

        }
    }

    @media (max-width: 767px) {
        #w3lDemoBar.w3l-demo-bar a.tablet-mode {
            display: none;

        }
    }

    @media (max-width: 568px) {
        #w3lDemoBar.w3l-demo-bar a.mobile-mode {
            display: none;
        }

        #w3lDemoBar.w3l-demo-bar .responsive-icons {
            margin-top: 0px;
            border-top: none;
            padding-top: 0px;
        }

        #right-sidebar, .pull-right {
            width: 90px;
        }

        #w3lDemoBar.w3l-demo-bar .no-margin-bottom-mobile {
            margin-bottom: 0;
        }
    }
</style>
<!--/Header-->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light stroke py-lg-0">
            <h1><a class="navbar-brand" href="index.html">
                <i class="fas fa-truck-moving"></i> <u>D P C S</u>
            </a></h1>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/calculate">Shipping Calculator</a>
                    </li>
                </ul>
                <!--/search-->
                <button id="trigger-overlay" class="searchw3-icon mx-xl-4 mx-lg-3" type="button"><i
                        class="fas fa-search"></i></button>
                <!-- open/close -->
                <div class="overlay overlay-slidedown">
                    <button type="button" class="overlay-close"><i class="fas fa-times"></i></button>
                    <nav class="w3l-formhny">
                        <h5 class="mb-3">Search here</h5>
                        <form action="#" method="GET" class="d-sm-flex search-header">
                            <input class="form-control me-2" type="search" placeholder="Search here..."
                                   aria-label="Search" required>
                            <button class="btn btn-style btn-primary" type="submit">Search</button>
                        </form>
                    </nav>
                </div>
                <!--//search-->
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--//Header-->
<!--/Banner-Start-->
<!-- main-slider -->
<section class="w3l-main-slider banner-slider" id="home">
    <div class="owl-one owl-carousel owl-theme">
        <div class="item">
            <div class="slider-info banner-view banner-top1">
                <div class="container">
                    <div class="banner-info header-hero-19">
                        <p class="w3hny-tag">Make the right move.</p>
                        <h3 class="title-hero-19">Moving your products across all borders.</h3>
                        <a href="about.html" class="btn btn-style btn-primary mt-4">Delivery Price comparison
                            System </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-info banner-view banner-top2">
                <div class="container">
                    <div class="banner-info header-hero-19">

                        <p class="w3hny-tag">Go smoothly with safety.</p>
                        <h3 class="title-hero-19">We are here to move your business.</h3>
                        <a href="/about" class="btn btn-style btn-primary mt-4">Delivery Price comparison System</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-info banner-view banner-top3">
                <div class="container">
                    <div class="banner-info header-hero-19">
                        <p class="w3hny-tag">Make the right move.</p>
                        <h3 class="title-hero-19">Moving your products across all borders.</h3>

                        <a href="/about" class="btn btn-style btn-primary mt-4">Delivery Price comparison System</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-info banner-view banner-top4">
                <div class="container">
                    <div class="banner-info header-hero-19">
                        <p class="w3hny-tag">Go smoothly with safety.</p>
                        <h3 class="title-hero-19">We are here to move your business.</h3>
                        <a href="/about" class="btn btn-style btn-primary mt-4">Delivery Price comparison System </a>

                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<!-- //main-slider -->

<!--/grids-->
<section class="w3l-grids-3 py-5" id="about">
    <div class="container py-md-5 py-3">
        <div class="row w3home-ab-grids">
            <div class="w3ab-right-top col-lg-6 pe-lg-5">
                <img src="{% static 'cal/images/g2.jpg' %}" alt="" class="img-fluid radius-image">
            </div>
            <div class="w3ab-left-top col-lg-6 mt-lg-0 mt-4 pt-lg-0 pt-2">
                <!-- <h6 class="title-subw3hny mb-1">We’re safe movers.</h6> -->
                <h3 class="title-w3l mb-2">Fast and reliable shipping services</h3>
                <p class="my-3"> Expedited shipping involves giving a particular shipment priority over others, allowing
                    it to be delivered faster. This just means offering faster than normal shipping for many shipping
                    service providers. In practice, this means using courier services such as same-day delivery,
                    next-day delivery, and express delivery. </p>

                <a href="about.html" class="btn btn-style btn-primary mt-4">Learn More</a>
            </div>

        </div>
    </div>
</section>
<!--//grids-->
<div style="margin: 8px auto; display: block; text-align:center;">

    <!---728x90--->
</div>
<!--/bottom-3-grids-->
<div class=" w3l-3-grids py-5" id="grids-3">
    <div class="container py-md-4">
        <div class="row">
            <div class="col-md-6 mt-md-0">
                <div class="grids3-info position-relative">
                    <a href="#img" class="d-block zoom"><img src="{% static 'cal/images/banner1.jpg' %}" alt=""
                                                             class="img-fluid news-image"></a>
                    <div class="w3-grids3-info">
                        <h4 class="gdnhy-1"><a href="#img">Global Logistic Service For Business</a>
                            <a class="w3item-link btn btn-style mt-4" href="#">
                                Explore Property
                            </a>

                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-md-0 mt-4 grids3-info2">
                <div class="grids3-info position-relative">
                    <a href="#img" class="d-block zoom"><img src="{% static 'cal/images/banner2.jpg'%}" alt=""
                                                             class="img-fluid news-image"></a>
                    <div class="w3-grids3-info second">
                        <h4 class="gdnhy-1"><a href="#img">Give you complete control
                            of your shipments.</a>
                            <a class="w3item-link btn btn-style mt-4" href="#">
                                Explore Property
                            </a>
                        </h4>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--//bottom-3-grids-->

<!--/w3-grids-->
<section class="w3l-passion-mid-sec py-5">
    <div class="container py-md-5 py-3">
        <div class="row w3l-passion-mid-grids">

            <div class="col-lg-6 passion-grid-item-info pe-lg-5 mb-lg-0 mb-5">
                <h6 class="title-subw3hny mb-1">Secure courier</h6>
                <h3 class="title-w3l mb-4">Secure courier for small & big packages</h3>
                <p class="mt-3 pe-lg-5">Unlike a standard courier service which relies on speed and accuracy to get
                    products delivered quickly and efficiently, a security courier service specialises in moving
                    products or goods which are either high value, secret, or are in need of en-route protection.</p>
                <div class="w3banner-content-btns">
                    <a href="about.html" class="btn btn-style btn-primary mt-lg-5 mt-4 me-2">Learn More </a>

                </div>
            </div>
            <div class="col-lg-6 passion-grid-item-info ps-lg-4">
                <div class="w3lgrids-1 box-wrap">
                    <div class="icon">
                        <i class="fas fa-truck-loading"></i>
                    </div>
                    <div class="icon-text">
                        <h4><a href="#service" class="title-head mb-3">Tracking Is Easy</a></h4>
                        <p class="text-para mt-3">It's easy to track in bulk! (OR) EasyParcel of customers, simply track
                            via order number to get summarized result for all individual shipments in it.</p>
                    </div>
                </div>
                <div class="w3lgrids-1 box-wrap mt-4">
                    <div class="icon">
                        <i class="fas fa-boxes"></i>
                    </div>
                    <div class="icon-text">
                        <h4><a href="#service" class="title-head mb-3">Multiple Warehouses</a></h4>
                        <p class="text-para mt-3">We have allows customers to store goods in different warehouse
                            locations and still have a single point of contact who takes end-to-end responsibility for
                            services.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//w3-grids-->
<!--/video-->
<section class="w3l-index5 py-5" id="video">
    <div class="container py-md-5 py-3">
        <div class="row bottom-ab-grids align-items-center">
            <div class="w3l-video-left col-lg-6 mb-lg-0 mb-5">
                <!-- /home-page-video-popup-->
                <!-- <div class="position-relative mt-5">
                    <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                        <span class="video-play-icon">
                            <span class="fa fa-play"></span>
                        </span>
                    </a>
                     dialog itself, mfp-hide class is required to make dialog hidden
                    <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                        <iframe src="video.mp4" frameborder="0" allow="; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>-->
                <!-- //home-page-video-popup-->
            </div>
            <div class="w3ab-left-top col-lg-6 mt-lg-0 mt-5 ps-lg-5">
                <h6 class="title-subw3hny mb-1">Fastest Courier Services</h6>
                <h3 class="title-w3l two mb-2">Provide the best and fastest courier services nowadays</h3>
                <p class="my-3"> Our domestic courier services in India are backed by an integrated transport management
                    system that enables the customers as well as the company to ensure seamless and convenient
                    operations for all services related to domestic couriers in India. </p>
                <p class="my-3">Delhivery provides its customers with options like on-demand delivery, same day or next
                    day delivery, as well as time-defined and slot-based deliveries.</p>
                <a href="about.html" class="btn btn-style btn-primary mt-4">View More+ </a>
            </div>
        </div>
    </div>
</section>
<!--//video-->
<div style="margin: 8px auto; display: block; text-align:center;">

    <!---728x90--->

</div>
<!-- features section -->
<section class="w3l-features py-5" id="features">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-content text-center mb-lg-3 mb-4">
            <h6 class="title-subw3hny mb-1"></h6>
            <h3 class="title-w3l">Our Partner Services</h3>
        </div>
        <div class="main-cont-wthree-2">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h4><a href="#service" class="title-head mb-3">Transportation</a></h4>
                        <p class="text-para">The movement of goods and persons from place to place and the various means
                            by which accomplished.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-chalkboard-teacher"></i>
                        </div>
                        <h4><a href="#service" class="title-head mb-3">Live Monitoring</a></h4>
                        <p class="text-para">Live monitoring means a person viewing images live in real time as they are
                            being captured and recorded by a camera. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-people-carry"></i>
                        </div>
                        <h4><a href="#service" class="title-head mb-3">Worldwide Service</a></h4>
                        <p class="text-para"> means internet-related services, including but not limited to the
                            streaming media, web site hosting, maintenance.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//features section -->
<!--/w3l-grids-->
<div class="w3l-md-btn mx-auto text-center mt-md-5 mt-4">
    <a href="services.html" class="btn btn-style btn-primary mt-4">Future Plans</a>
</div>
<section class="w3l-witemshny-main py-5">
    <div class="container py-md-4">
        <!--/row-1-->
        <div class="witemshny-grids row">
            <div class="col-md-3 col-6 product-incfhny mt-4">
                <div class="weitemshny-grid oposition-relative">
                    <a href="#img" class="d-block zoom"><img src="{% static 'cal//images/g1.jpg' %}" alt=""
                                                             class="img-fluid news-image"></a>
                    <div class="witemshny-inf">
                    </div>
                </div>
                <h4 class="gdnhy-1 mt-lg-4 mt-3"><a href="#img">Road Freight</a>
                </h4>
                <!--<p class="mt-md-2">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam.</p>-->
            </div>
            <div class="col-md-3 col-6 product-incfhny mt-4">
                <div class="weitemshny-grid oposition-relative">
                    <a href="#img" class="d-block zoom"><img src="{% static 'cal/images/g6.jpg' %}" alt=""
                                                             class="img-fluid news-image"></a>
                    <div class="witemshny-inf">
                    </div>
                </div>
                <h4 class="gdnhy-1 mt-lg-4 mt-3"><a href="#img">Air Shipping</a>
                </h4>
                <!--<p class="mt-md-2">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam.</p>-->
            </div>
            <div class="col-md-3 col-6 product-incfhny mt-4">
                <div class="weitemshny-grid oposition-relative">
                    <a href="#img" class="d-block zoom"><img src="{% static 'cal/images/g2.jpg' %}" alt=""
                                                             class="img-fluid news-image"></a>
                    <div class="witemshny-inf">
                    </div>
                </div>
                <h4 class="gdnhy-1 mt-lg-4 mt-3"><a href="#img"> Logistic Service</a>
                </h4>
                <!--<p class="mt-md-2">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam.</p>-->
            </div>
            <div class="col-md-3 col-6 product-incfhny mt-4">
                <div class="weitemshny-grid oposition-relative">
                    <a href="#img" class="d-block zoom"><img src="{% static 'cal/images/g5.jpg' %}" alt=""
                                                             class="img-fluid news-image"></a>
                    <div class="witemshny-inf">
                    </div>
                </div>
                <h4 class="gdnhy-1 mt-lg-4 mt-3"><a href="#img">Ground Shipping</a>
                </h4>
                <!--<p class="mt-md-2">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam.</p>-->
            </div>

        </div>
        <!--//row-1-->
        <!--<div class="w3l-md-btn mx-auto text-center mt-md-5 mt-4">
            <a href="services.html" class="btn btn-style btn-primary mt-4">More Services</a>
        </div>-->
    </div>
</section>
<!--//w3l-grids-->
<div style="margin: 8px auto; display: block; text-align:center;">
    <!---728x90--->
</div>
<section class="w3l-newsletter pb-5">
    <div class="container pb-md-5 pb-3">
        <div class="uphny-w3l-newsletter-inf">
            <div class="row uphny-w3l-newsletter align-items-center">
                <div class="col-lg-6 w3l-newsletter-left text-left">
                    <h3 class="titlehny">Don't miss our future updates! Get subscribed today!</h3>
                </div>
                <div class="col-lg-6 w3l-newsletter-form ps-lg-5 mt-lg-0 mt-md-5 mt-4">
                    <form action="#" method="post" class="subscribe-wthree">
                        <div class="flex-wrap subscribe-wthree-field">
                            <input class="form-control" type="email" placeholder="Type Your Email Address" name="email"
                                   required="">
                            <button class="btn btn-style btn-primary" type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//w3l-newsletter-->
<!--/footer-9-->
<footer class="w3l-footer9">
    <section class="footer-inner-main py-5">
        <div class="container py-md-4">
            <div class="right-side">
                <div class="row footer-hny-grids sub-columns">
                    <div class="col-lg-4 sub-one-left pe-lg-5">
                        <h2><a class="navbar-brand" href="index.html">
                            <i class="fas fa-truck-moving"></i> <u>D P C S</u>
                        </a></h2>
                        <!-- <p class="footer-phny mt-3">Delivery price calculator system is e-commerce logistics and shipping software solution for the best courier service. It provides transparency towards the consumers and as a result we share optimal recommendation to the customer who want to share a product. </p>-->
                        <div class="columns-2 mt-4 pt-lg-2">
                            <ul class="social">
                                <li><a href="#facebook"><span class="fab fa-facebook-f"></span></a>
                                </li>
                                <li><a href="#linkedin"><span class="fab fa-linkedin-in"></span></a>
                                </li>
                                <li><a href="#twitter"><span class="fab fa-twitter"></span></a>
                                </li>
                                <li><a href="#google"><span class="fab fa-google-plus-g"></span></a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-8 sub-two-right">
                        <div class="row">
                            <div class="col-lg-3 sub-two-right">
                                <h6>Who We Are</h6>
                                <ul>
                                    <li><a href="/about">About Us</a>
                                    </li>
                                    <li><a href="/about"> Our Team</a>
                                    </li>
                                    <!--<li><a href="#news">New & Media</a>
                                    </li>
                                    <li><a href="#case"> Case Studies</a>
                                    </li>
                                    <li><a href="contact.html"> Work With Us</a>
                                    </li>-->
                                </ul>
                            </div>
                            <div class="col-lg-3 sub-two-right">
                                <h6>What We Do</h6>
                                <ul>
                                    <li><a href="#warehousing"> Warehousing</a>
                                    </li>
                                    <li><a href="#air">Air Freight</a>
                                    </li>
                                    <li><a href="#ocean">Ocean Freight</a>
                                    </li>
                                    <li><a href="#road">Road Freight</a>
                                    </li>
                                    <li><a href="#supply">Supply Chain</a>
                                    </li>
                                    <!--<li><a href="#packaging">Packing</a>
                                    </li>-->
                                </ul>
                            </div>
                            <div class="col-lg-3 sub-two-right">
                                <h6>Company</h6>
                                <ul>
                                    <li><a href="#request">Request a Freight</a>
                                    </li>
                                    <li><a href="#track">Track & Trace</a>
                                    </li>
                                    <!--<li><a href="#job"> Job Application</a>
                                    </li>
                                    <li><a href="#posts">News</a>
                                    </li>-->
                                    <li><a href="#support"> Support 24/7</a>
                                    </li>
                                    <!--<li><a href="#story"> User Stories</a>
                                    </li>-->
                                </ul>
                            </div>
                            <div class="col-lg-3 sub-two-right">
                                <h6>More Info</h6>
                                <ul>
                                    <!--<li><a href="#planing"> Planning</a>
                                    </li>
                                    <li><a href="#processing">Expert Tips</a>
                                    </li>-->
                                    <li><a href="#research">Tips & Strategies</a>
                                    </li>
                                    <li><a href="#metal"> Easy Payment</a>
                                    </li>
                                    <li><a href="#delivery"> Fast Delivery</a>
                                    </li>
                                    <li><a href="#faq"> Faqs</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="below-section mt-lg-5 pt-lg-4">
                <div class="copyright-footer">
                    <p class="copyright-column">© 2022-23 <u>D P C S</u>. All rights reserved. Design by <a href="#"
                                                                                                            target="_blank">
                        DPCS Team</a></p>

                    <ul class="footer-w3list text-right">
                        <li><a href="#url">Privacy Policy</a>
                        </li>
                        <li><a href="#url">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

    </script>
    <!-- //move top -->
</footer>
<!--//footer-9 -->

<!-- Template JavaScript -->
<script src="{% static 'cal/js/jquery-3.3.1.min.js'%}"></script>
<script src="{% static 'cal/js/theme-change.js'%}"></script>
<!-- owlcarousel -->
<script src="{% static 'cal/s/owl.carousel.js'%}"></script>
<!-- script for banner slider-->
<script>
    $(document).ready(function () {
        $('.owl-one').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1
                },
                480: {
                    items: 1
                },
                667: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        })
    })

</script>
<!-- //script -->
<script>
    $(document).ready(function () {
        $("#owl-demo1").owlCarousel({
            loop: true,
            nav: false,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                736: {
                    items: 1,
                    nav: false
                }
            }
        })
    })

</script>
<!-- video popup -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
        });
    });

</script>
<!-- //video popup -->
<!--/search-->
<script src="{% static 'cal/js/modernizr.custom.js' %}"></script>
<script src="{% static 'cal/js/classie.js' %}"></script>
<script src="{% static 'cal/js/demo1.js' %}"></script>
<!--//search-->
<!-- MENU-JS -->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });

</script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });

</script>
<!-- //disable body scroll which navbar is in active -->
<!-- //bootstrap -->
<script src="{% static 'cal/js/bootstrap.min.js' %}"></script>
</body>
</html>
